#########################################################
# Visual Studio
#########################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#########################################################
# Build Results
#########################################################

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

#########################################################
# ASP.NET Core
#########################################################

wwwroot/lib/

#########################################################
# Rider
#########################################################

.idea/

#########################################################
# VS Code
#########################################################

.vscode/

#########################################################
# NuGet
#########################################################

packages/
*.nupkg

#########################################################
# Logs
#########################################################

*.log

#########################################################
# Test Results
#########################################################

TestResults/
*.trx
*.coverage
*.coveragexml

#########################################################
# Publish
#########################################################

publish/
artifacts/

#########################################################
# EF Core (Generated SQL Scripts)
#########################################################

*.sql

#########################################################
# OS Files
#########################################################

Thumbs.db
Desktop.ini
.DS_Store

#########################################################
# Azure
#########################################################

.publishsettings

#########################################################
# DotNet
#########################################################

project.lock.json
project.fragment.lock.json

#########################################################
# Resharper
#########################################################

_ReSharper*/
*.DotSettings.user